<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
   <add key="PSTFilePath" value="C:\Users\super.agent\AppData\Local\Microsoft\Outlook\Super.Agent@KALELOGISTICS.IN.pst"/>
    <add key="PSTFolder" value="Super.Agent@Kalelogistics.In"/>
    <add key="MailFolder" value="Super.Agent@Kalelogistics.In"/>
    <add key="PDFFolderPath" value="E:\pingAutomationAWB\PDFDownloads\" /> 
  <add key="Issuing_Agent" value="E:\pingAutomationAWB\Issuing_Agent_Master.xls" />
    <add key="LogfilePath" value="E:\pingAutomationAWB\LogFiles" />
    <add key="Airport_City_Master" value="E:\pingAutomationAWB\Airport_City_Master_List.xls" />

 <add key="Trackername" value="OLD" />     
    <add key="Operatorold" value="IntelecS" />
     <add key="Operatornew" value="Siddhi.Vinayak" />
  
    <add key="RuleExcel_Ping" value="E:\pingAutomationAWB\RuleExcel_Ping.xls" />
    <add key="Output_File_Path" value="E:\pingAutomationAWB\Output_File\" />
    <add key="PingURL" value="http://ping.upliftindia.com/UI/Login.aspx"/>
    <add key="Username" value="ping.automation"/>
    <add key="Password" value="K@le1234"/>
    <add key="098" value="Other" />
    <add key="Super.Agent@KALELOGISTICS.IN" value="Kale Logistics" />
    <add key="SmtpServer" value="exchange.kalelogistics.in" />
    <add key="SmtpServerPort" value="587" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>